
* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5% 10%;
  border: 1px solid;
}

.mainContainer > div {
  flex: 1 1 auto;
  width: 11%;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  line-height: 5px;
  padding: 20px;
}



